.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url("https://images.pexels.com/photos/5797899/pexels-photo-5797899.jpeg?cs=srgb&dl=pexels-ann-poan-5797899.jpg&fm=jpg");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: aliceblue;
    border: none;
}
.loginInput:focus{
    outline: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(250, 159, 159);
}

.RegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    padding: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
    border-radius: 10px;
}